

/****** CSS COMUN ******/

:root {

    --brand-primary: #a25ac8;
    --brand-secondary: #ffba5a;
    --brand-primary-rgba: rgba(0, 32, 48, 0.7);
}



body {
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
.content-container {
    max-width: 1200px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.LinkWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1000;    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
   }

.boton{
    border: 1px solid transparent;
    border-radius: 0em;    
    font-size: 1.6rem;
    padding: 0.4em 1.9em;
    line-height: 1.2;
    box-sizing: border-box;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    background-color: none;
}
.boton--primary {
    background-color: var(--brand-primary);
    border-color: var(--brand-primary);
    color: #FFF;
}
.boton--primary:hover {
    background-color: #FFF;
    color: var(--brand-primary);
}
a:hover {
    color:inherit;
}
.Title {
    color: var(--brand-primary);
    margin-bottom: 40px;
    text-align: center;
    font-size: 3rem;
}
.ViewFull {
    padding:40px 0;
}
.ViewFull-body {
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ViewFull-body a {
    text-decoration: none;
}

.Video {
    position: relative;
    padding-bottom: 56.25%;
}
.Video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/** SIDEBAR **/


.navbar > .container, .navbar > .container-fluid {
    justify-content: end !important;
}

@media (min-width:64em) {
    .Sidebar {
        display:none;
    }
}



/** HEADER **/

.placeholder {
    background-color: #FFF;
    width: 100% !important;
    opacity: 1;
}
@media (max-width:40em) {
    .placeholder {
        height:130px !important;
    }
}
.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: border-bottom 0.5s;
    z-index: 6;
    transition: background-color 0.5s;
}
@media (min-width:64em) {
    .isScrolled.Header {
        background-color: var(--brand-primary);
    }
}

.Header::before {
    content: "";
    background: url(../images/bg1.png) no-repeat 0 0/cover;
    position: absolute;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 1;
    top: -35px;
    transition: all 0.5s;
}
.Header::after {
    background: url(../images/bg.png) no-repeat 0 0px/cover;
    position: absolute;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 2;
    top: -22px;
    content: "";
    transition: all 0.5s;
}
.isScrolled.Header::before {
    background-position: 0 -60px;
}
.isScrolled.Header::after {
    background-position: 0px -80px;
}
@media (min-width:64em) {
    .isScrolled.Header::before {
        opacity: 0;
    }
    .isScrolled.Header::after {
        opacity: 0;
    }
}
.Header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
    height: 180px;
    position: relative;
    transition: all 0.5s;
    align-items: flex-start;
}
.isScrolled .Header-content {
    height: 90px;
    align-items: center;
}
.Header-logo {
    position: relative;
    background: url(../images/logo.svg) no-repeat left center/contain;
    width: 165px;
    height: 90px;
    transition: all 0.5s;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(300deg) brightness(100%) contrast(100%);
}
.isScrolled .Header-logo {
    width: 115px;
    height: 60px;
}
@media (max-width:64em) {
    .Header-content {
        justify-content: space-between;
    }
    .isScrolled.Header::before {
        background-position: -270px 20px;
    }    
    .isScrolled.Header::after {
        background-position: 0;
    }    
}
@media (max-width:44em) {
    .Header::before {
        background-position: -315px 0;
    }
    .Header::after {
        background-position: -500px 20px;
    }
    .Header-logo {
        position: relative;
        background: url(../images/logo.svg) no-repeat left center/contain;
        width: 110px;
        height: 85px;
    } 
    .isScrolled .Header-logo {
        margin-left: 50px;
    }
}

/** MENU **/

.Menu {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    position: relative;
    margin-bottom: 0;
}
.Menu-link {
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    padding: 10px 0 3px;    
    transition: all 0.5s;
    font-family: "Montserrat", sans-serif;
    /*font-family: "Poiret One", sans-serif;*/
    font-weight: 300;
}
.Menu-link:hover, .Menu-link.Selected {
    border-bottom-color: #FFF;
    color:#FFF;
}

@media (max-width:64em) {
    .Menu, .Menu-nav {
        display:none;
    }
}



/****** SECTION FRONTPAGE ******/




/** SLIDEHOME **/

.Hero {
    position: relative;
    padding: 100px 20px;
    background-image: url('../images/home/cohete.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 750px center;
    margin-bottom: 80px;
}
.Hero-title {
    font-family: "Roboto", serif;
    line-height: 40px;
    font-size: 40px;
    font-weight: bold;
    color:var(--brand-primary);
    margin-bottom: 10px;
}
.Hero-text {
    font-family: "Montserrat", serif;
    line-height: 24 px;
    font-size: 24px;
}

@media (max-width:40em) {
    .Hero {
        padding: 20px 20px 250px;
        background-position: center bottom;
        background-size: 300px auto;
    }
    .Hero-title {
        line-height: 35px;
        font-size: 35px;
    }
    .Hero-text {
        line-height: 20px;
        font-size: 20px;
    }
}


/** FRONTPAGE **/



.Frontpage b {
    color: var(--brand-primary); 

}
.Frontpage h2 {
    font-family: "Roboto", serif;
    font-size: 40px;
    color: var(--brand-primary); 
    text-align: center;
}
.Frontpage h3 {
    margin-bottom: 50px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}


.Adn-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}
.Adn-item {
    flex:1 0 250px;
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 50px 10px #EBEBEB;
    font-family: "Montserrat", sans-serif;
}
.Adn-title {
    font-family: "Roboto", serif;
    font-size: 25px;
    color: var(--brand-primary);
    margin-bottom: 40px;
}
@media (max-width: 46em) {
    .Adn-items {
        overflow: hidden;
        margin: 0 -20px;
        padding: 40px 20px;
    }
}


/** SECTION SERVICIOS **/

.Servicios {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.Servicios-item {
    flex: 1 0 350px;
}

.Servicios-item-image {
    display: none;
}
.Servicios-item-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    height:100px;
    box-sizing: border-box;
    color: #022534;
    margin-bottom: 0;
    padding: 20px;
    font-weight: 400;
    text-align: center;
    background: var(--brand-primary);
    color:#FFF;
}

.Servicios-item-intro {
    padding: 20px;
    height: 350px;
    border: 1px solid var(--brand-primary);
}
@media (min-width: 46em) {
    .Servicios-item:nth-child(1) .Servicios-item-intro {
        border-radius: 0 0 50px 0;
    }
    .Servicios-item:nth-child(3) .Servicios-item-intro {
        border-radius: 0 0 0 50px;
    }
    .Servicios-item:nth-child(4) .Servicios-item-intro {
        border-radius: 0 0 50px 0;
    }
    .Servicios-item:nth-child(6) .Servicios-item-intro {
        border-radius: 0 0 0 50px;
    }
    .Servicios-item:nth-child(1) .Servicios-item-title {
        border-radius: 50px 0 0 0;
    }
    .Servicios-item:nth-child(3) .Servicios-item-title {
        border-radius: 0 50px 0 0;
    }
    .Servicios-item:nth-child(4) .Servicios-item-title {
        border-radius: 50px 0 0 0;
    }
    .Servicios-item:nth-child(6) .Servicios-item-title {
        border-radius: 0 50px 0 0;
    }
}
@media (max-width: 46em) {
    .Servicios-item {
        flex: 1 0 250px;
    }
    .Servicios-item-title {
        font-size:30px;
        height: auto;
    }
    .Servicios-item-content {
        height: auto;
    }
}
@media (max-width: 46em) {
    .Servicios-item-intro {
        height: auto;
        min-height: 200px;
    }    
}

/** TABS **/


.tab-panel .tabs {
    border-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.tab-panel .tabs li {
    border-bottom:0px;
    text-align:center;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right:0;
    width: 100%;
}
.tab-panel .tabs li:first-child{
    border-left: 0;
}
.tab-panel .tabs a {
    text-decoration: none;
    padding: 5px 0;
    line-height: 40px;
    display:block;
    color:#c2c2c2;
    font-size: 20px;
    outline: none;
    border-top:3px solid transparent;
    border-bottom: 1px solid #c2c2c2;
}
.tab-panel .tabs a:hover,
.tab-panel .tabs a.selected {
    background: var(--brand-primary);
    color: #FFF;
    border-top:3px solid var(--brand-primary);
    border-bottom: 1px solid transparent;
}
.tab-panel .tabs a[data-badge]:after {
    content: attr(data-badge);
    background-color: #bbb;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    min-width: 1em;
    margin-left: 1em;
    line-height: 1em;
}
.tab-panel .tabs a[data-badge='0']:after {
    display: none;
}
.tab-contents {
    position: relative;
}
.tab-content {
    display:none;
    margin: 0px auto;
    color:#000;
    padding: 40px;
}
.tab-contents .listado {
    margin:0;
    width: 100%;
}
.tab-contents .listado th {
    border-top:0;
}
@media (max-width: 56em) {
    .tab-panel {
        width: 100%;
    }
}
@media (max-width: 43em) {
    .tab-panel .tabs, .tab-panel .tabs li {
        display:block;
        width:100%;
        border-left: 0;
    }
    #allcontent .tab-panel .tabs li {
        border:1px solid #c2c2c2;
    }
    #allcontent .tab-panel .tabs li a {
        border-bottom:0;
    }
    .tab-content {
        padding: 40px 0;
    }
}





/****** FOOTER ******/  

.Footer {
    color: #000;
    padding:20px;
    background-color: var(--brand-secondary);
}

.Footer-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.Footer-menu-link,
.Footer-direction a{
    color: #000;
    text-decoration: none;
}
.Footer a:hover {
    text-decoration:underline;
}
.Footer i {
    margin-right: 10px;
}

.Footer h3{
    font-size: 30px;
    color:#000;
}

@media (max-width: 50em) {
    .Footer {
        justify-content: flex-start;
        align-items: flex-end;
    }
    .Footer::before {
        background: url(../images/bgfooter.png) no-repeat -255px 0/cover;
    }
    .Footer::after {
        background: url(../images/bgfooter1.png) no-repeat 0 -35px/cover;
    }    
    .Footer-direction {
        position: static;
        margin-left:50px;
    }
}

/** SOCIAL **/

.Social {
    text-align: center;
    padding-bottom: 20px;
    color: #FFF;
 }   
 .Social-floating {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1000;
 }
 
.Social-link {
    font-size: 20px;
    width: 32px;
    display: inline-block;  
    line-height: 30px;
    margin-top:2px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}
.Social-wsp {
    background-color: #0CC243;
    border-color: transparent;
    font-size: 30px;
    width: 42px;
    line-height: 40px;
}
.Social-wsp i {
    color:#FFF;
}
.Social-wsp:hover i {
    background-color:#FFF;
    color:var(--brand-primary);
}
.Social-link:hover {
    background-color:#FFF;
    color:var(--brand-primary);
}
.Social-link i {
    margin:0;
}


@media (max-width: 50em) {
    .Social {
        text-align: left;
    }
    .Social-floating {
        right: 10px;
    }
}   


.Article {
    margin-top:80px;
}
.Article-body {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 80px;
    font-family: "Roboto", serif;

}
.Article-pilares {
    display: flex;    
    gap: 30px;
    flex-wrap: wrap;
}
.Article-pilar {
    border:2px solid var(--brand-primary);
    padding:20px;
    flex: 1 0 250px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 5px 5px 50px 10px #EBEBEB;
}
.Article-pilar-title {
    font-weight: bold;
    margin-bottom:40px;
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 19px;
}
.Article-description {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 300;
}

.Article-users {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin:40px 0;
    display: none;
}
.Article-user {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.Article-user-name {
    color: var(--brand-primary);
}
.Article-user-image {
    border-radius: 50%;
    margin: unset;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);    
}
.Article h4 {
    margin: 20px 0;
}

@media (max-width:65em) {
    .Article {
        padding:20px 0;
    }
    .Article-users {
        flex-direction: column;
    }
}

/** FORM **/   



.Contacto {
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 40px 20px;
}
.Form {
    max-width: 950px;
    margin: 0 auto;
    color: #FFF;
} 
.Form-control {
    position: relative;
  }
.Form h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--brand-primary);
}
.Form h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    color: var(--brand-primary);
}
.Form-row {
    page-break-inside: avoid;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 1em;
    padding: 0;
    border: none;
    display: block;
}
.Form-label {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    line-height: 1.42em;
    display: inline-block;
    color:var(--brand-primary);    
}
.Form .input {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--brand-primary);
    color: var(--brand-primary);    
    width: 100%;
}
#attribute-mensaje .input {
    height: 90px;
}
@media (max-width:65em) {
    .Contacto {
        margin: 0 20px;
    }
}
@media (max-width:30em) {

    .Form h2 {
        font-size: 3rem;
        line-height: 3rem;

    }
    .Form h3 {
        font-size: 1.5rem;
    }
}

 
 @keyframes scroll{
    0%{
 
       transform: translateX(0)
    }
    100% {
       transform: translateX(calc(-200px * 6));
    }
 }
