

/****** CSS COMUN ******/

:root {

    --brand-primary: #781fe3;
    --brand-secondary: #FFF;
    --brand-primary-rgba: rgba(0, 32, 48, 0.7);
}



body {
    background-color: #FFF;
}
*{
    box-sizing: border-box;
}
.content-container {
    max-width: 1200px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.LinkWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1000;    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
   }

.boton{
    border: 1px solid transparent;
    border-radius: 0em;    
    font-size: 1.6rem;
    padding: 0.4em 1.9em;
    line-height: 1.2;
    box-sizing: border-box;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    background-color: none;
}
.boton--primary {
    background-color: var(--brand-primary);
    border-color: var(--brand-primary);
    color: #FFF;
}
.boton--primary:hover {
    background-color: #FFF;
    color: var(--brand-primary);
}
a:hover {
    color:inherit;
}
.Title {
    color: var(--brand-primary);
    margin-bottom: 40px;
}
.ViewFull {
    padding:40px 0;
}
.ViewFull-body {
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ViewFull-body a {
    text-decoration: none;
}
.Section {
    background-color: var(--brand-secondary);
}

.Video {
    position: relative;
    padding-bottom: 56.25%;
}
.Video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/** SIDEBAR **/


.navbar > .container, .navbar > .container-fluid {
    justify-content: end !important;
}

@media (min-width:64em) {
    .Sidebar {
        display:none;
    }
}



/** HEADER **/

.placeholder {
    background-color: var(--brand-secondary);
    width: 100% !important;
    opacity: 1;
    height: 150px !important;
}
.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: border-bottom 0.5s;
    z-index: 6;
}

.Header::before {
    content: "";
    background: url(../images/bg1.png) no-repeat 0 0/cover;
    position: absolute;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 1;
    top: -35px;
  }
  .Header::after {
    background: url(../images/bg.png) no-repeat -135px 20px/cover;
    position: absolute;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 2;
    top: -22px;
    content: "";
    transition: all 0.5s;

  }

.isScrolled.Header::before {
    content: "";
    background: url(../images/bg1.png) no-repeat 0 0/cover;
  }
.isScrolled.Header::after {
    background: url(../images/bg.png) no-repeat -135px 10px/cover;
  }
.Header-content {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: padding 0.5s;
    z-index: 3;
    height: 150px;
    position: relative;
}
.isScrolled .Header-content {
    padding: 0;
    transition: padding 0.5s;
}
.Header-logo {
    position: relative;
    background: url(../images/logo.svg) no-repeat left center/contain;
    width: 165px;
    height: 90px;
    transition: all 0.5s;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(300deg) brightness(100%) contrast(100%);
}

.isScrolled .Header-logoa {
    transition: all 0.5s;
    width: 90px;
    height: 90px;
}
.isScrolled .Header-logob {
    transition: all 0.5s;
    top: 40px;
    left: 105px;
}
@media (max-width:64em) {
 
}
@media (max-width:44em) {
    .Header::before {
        background: url(../images/bg1.png) no-repeat -315px 0/cover;
    }
    .Header::after {
        background: url(../images/bg.png) no-repeat -60px 20px/cover;
    }
    .Header-logo {
        position: relative;
        background: url(../images/logo.svg) no-repeat left center/contain;
        width: 110px;
        height: 85px;
    }    
}

/** MENU **/

.Menu {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    position: relative;
}
.Menu-link {
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    padding: 10px 0 5px;    
}
.Menu-link:hover, .Menu-link.Selected {
    border-bottom-color: var(--brand-secondary);
    color:#FFF;
}
@media (max-width:64em) {
    .Menu, .Menu-nav {
        display:none;
    }
}



/****** SECTION FRONTPAGE ******/




/** SLIDEHOME **/

.SlideHome {
    position: relative;
    height: calc(100vh - 110px);
    background-image: url('../images/home/home.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.SlideHome-box {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
}
.SlideHome-title {
    font-family: "EB Garamond", serif;
    line-height: 70px;
    font-size: 70px;
    margin-bottom: 40px;
}
.SlideHome-text {
    font-family: "EB Garamond", serif;
    line-height: 40px;
    font-size: 40px;
}
@media (max-width:50em) {
    .SlideHome-box {
        position: relative;
        left: auto;
        top: auto;
        transform: unset;
        width: 100%;
        padding: 40px;
        padding-top: 100px;
    }
}
@media (max-width:40em) {
    .SlideHome-box {
        padding-top: 140px;
    }
    .SlideHome {
        position: relative;
        height: calc(100vh - 300px);
    }    
    .SlideHome-title {
        font-size: 30px;
        line-height: 30px;
    }
    .SlideHome-text {
        line-height: 20px;
        font-size: 20px;
    }    
}


/** FRONTPAGE **/

.Frontpage {
    background-image: url(../images/home/frontpagebg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
.Frontpage-container {
  /* background-color: var(--brand-primary-rgba);*/
  background-image: linear-gradient(to right, #d6d6d61f, #d8d8d885, #b3b3b3ea, #bebebee5, #f4f9ffe0, #ffffffd7, #ebebebdc, #ebe9e9e3, #cfcfcff1, #e7e7e7ec, #d8d8d867, #ffffff3b);
    padding: 40px 0;
}
.Frontpage-container .content-container {
    display: flex;
    gap: 50px;    
}
.Frontpage-container--inverted .Frontpage-container-image {
    order: 2;
}
.Frontpage-container-info {
    flex:1;
}
.Frontpage-container .boton {
    position: absolute;
    bottom:0;
}

.Frontpage-container-image {
    width: 300px;
    height:360px;
    background-size: cover;
    flex:1;
}
.Frontpage-contacto {
    background-color: #FFF;
    padding: 40px 20px;
}
@media (max-width:50em) {
    .Frontpage-container .content-container {
        flex-direction: column;
    }
    .Frontpage-container .boton {
        position: static;
    }
    .Frontpage-container-image {
        align-self: center;
        flex: auto;
        width: 100%;
    }  
    .Frontpage-container--inverted .Frontpage-container-image {
        order: 0;
    }  
}
@media (max-width:30em) {
    .Frontpage-container-image {
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
    }
}

/** SECTION SERVICIOS **/

.Servicios {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.Servicios-item {
    flex: 1 0 350px;
    box-shadow: 4px 4px 4px;
    transition: all 0.5s;
    border: 1px solid var(--brand-primary);
}
.Servicios-item:hover {
    box-shadow: 5px 5px 8px;
    transition: all 0.5s;

}
.Servicios-item-image {
    display: none;
}
.Servicios-item-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    height:100px;
    box-sizing: border-box;
    color: #022534;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: 400;
    text-align: center;
    background: var(--brand-primary);
    color:#FFF;
}
.Servicios-item:hover .Servicios-item-boton {
    background-color: #FFF;
    color:var(--brand-primary);
    
}
.Servicios-item-intro {
    padding: 20px;
    height: auto;
}
.Servicios-item-content {
    height: 450px;
}
@media (max-width: 64em) {

}
@media (max-width: 46em) {
    .Servicios-item {
        flex: 1 0 250px;
    }
    .Servicios-item-title {
        font-size:30px;
        height: auto;
    }
    .Servicios-item-content {
        height: auto;
    }
}


/** TABS **/


.tab-panel .tabs {
    border-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.tab-panel .tabs li {
    border-bottom:0px;
    text-align:center;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right:0;
    width: 100%;
}
.tab-panel .tabs li:first-child{
    border-left: 0;
}
.tab-panel .tabs a {
    text-decoration: none;
    padding: 5px 0;
    line-height: 40px;
    display:block;
    color:#c2c2c2;
    font-size: 20px;
    outline: none;
    border-top:3px solid transparent;
    border-bottom: 1px solid #c2c2c2;
}
.tab-panel .tabs a:hover,
.tab-panel .tabs a.selected {
    background: var(--brand-primary);
    color: #FFF;
    border-top:3px solid var(--brand-primary);
    border-bottom: 1px solid transparent;
}
.tab-panel .tabs a[data-badge]:after {
    content: attr(data-badge);
    background-color: #bbb;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    min-width: 1em;
    margin-left: 1em;
    line-height: 1em;
}
.tab-panel .tabs a[data-badge='0']:after {
    display: none;
}
.tab-contents {
    position: relative;
}
.tab-content {
    display:none;
    margin: 0px auto;
    color:#000;
    padding: 40px;
}
.tab-contents .listado {
    margin:0;
    width: 100%;
}
.tab-contents .listado th {
    border-top:0;
}
@media (max-width: 56em) {
    .tab-panel {
        width: 100%;
    }
}
@media (max-width: 43em) {
    .tab-panel .tabs, .tab-panel .tabs li {
        display:block;
        width:100%;
        border-left: 0;
    }
    #allcontent .tab-panel .tabs li {
        border:1px solid #c2c2c2;
    }
    #allcontent .tab-panel .tabs li a {
        border-bottom:0;
    }
    .tab-content {
        padding: 40px 0;
    }
}





/****** FOOTER ******/  

.Footer {
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    gap: 40px;
    position: relative;
    height: 200px;
}
.Footer::before {
    content: "";
    background: url(../images/bgfooter.png) no-repeat 0 0/cover;
    position: absolute;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 2;
    top: -35px;
  }
  .Footer::after {
    background: url(../images/bgfooter1.png) no-repeat 0 20px/cover;
    position: absolute;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 1;
    top: -22px;
    content: "";
  }
.Footer-direction {
    position: absolute;
    right: 120px;
    bottom: 10px;
    z-index: 6;
}
.Footer-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.Footer-menu-link,
.Footer-direction a{
    color: #FFF;
    text-decoration: none;
}
.Footer a:hover {
    text-decoration:underline;
}
.Footer i {
    margin-right: 10px;
}

.Footer h3{
    font-size: 30px;
    color:#FFF;
}

@media (max-width: 50em) {
    .Footer {
        flex-direction: column;
    }
}

/** SOCIAL **/

.Social {
    text-align: center;
    padding-bottom: 20px;
    color: #FFF;
 }   
 
 
 .Social a{
    font-size: 30px;
    color: #FFF;
    opacity: 0,70;
    width: 40px;
    height: 40px;
    display: inline-block;  
    line-height: 30px;
    margin: 0 10px;
    opacity: 0.7;
 }

.Social a:hover {
     opacity: 0.9;
}

.Social-link {
    margin-top:20px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 30px;
    width: 30px;
    text-align: center;
    display: block;
}
.Social-link:hover {
    background-color:#FFF;
    color:var(--brand-primary);
}
.Social-link i {
    margin:0;
}

@media (max-width: 50em) {
    .Social {
        text-align: left;
    }
}   


.Article {
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 40px 20px;
}
.Article-body {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
}
.Article-pilares {
    display: flex;    
    gap: 30px;
    flex-wrap: wrap;
}
.Article-pilar {
    border:1px solid var(--brand-primary);
    padding:20px;
    background: var(--brand-primary);
    color:#FFF;
    flex: 1 0 250px;
}
.Article-pilar-title {
    font-weight: bold;
    margin-bottom:40px;
    text-align: center;
}
.Article-description {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 300;
}

.Article-users {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin:40px 0;
    display: none;
}
.Article-user {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.Article-user-name {
    color: var(--brand-primary);
}
.Article-user-image {
    border-radius: 50%;
    margin: unset;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);    
}
.Article h4 {
    margin: 20px 0;
}

@media (max-width:65em) {
    .Article {
        padding:20px 0;
    }
    .Article-users {
        flex-direction: column;
    }
}

/** FORM **/   



.Contacto {
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 40px 20px;
}
.Form {
    max-width: 950px;
    margin: 0 auto;
    color: #FFF;
} 
.Form-control {
    position: relative;
  }
.Form h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--brand-primary);
}
.Form h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    color: var(--brand-primary);
}
.Form-row {
    page-break-inside: avoid;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 1em;
    padding: 0;
    border: none;
    display: block;
}
.Form-label {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    line-height: 1.42em;
    display: inline-block;
    color:var(--brand-primary);    
}
.Form .input {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--brand-primary);
    color: var(--brand-primary);    
    width: 100%;
}
#attribute-mensaje .input {
    height: 90px;
}
@media (max-width:65em) {
    .Contacto {
        margin: 0 20px;
    }
}
@media (max-width:30em) {

    .Form h2 {
        font-size: 3rem;
        line-height: 3rem;

    }
    .Form h3 {
        font-size: 1.5rem;
    }
}

.Frontpage-container .slider-marcas{
    max-width: 1200px;
    height: auto;
    margin: auto;
    overflow: hidden;
 }
 
 .Frontpage-container .slider-marcas .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 12);
 }
 
 .Frontpage-container.slider-marcas .slide{
    width: 200px;
 }
 
 .Frontpage-container.slider-marcas .slide img{
    width: 100%;
 }
.Frontpage-body {
    max-width: 700px;
    margin: 50px auto;
}
.Frontpage-body h2 {
    margin-bottom: 50px;
}
 
 @keyframes scroll{
    0%{
 
       transform: translateX(0)
    }
    100% {
       transform: translateX(calc(-200px * 6));
    }
 }
