<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
    <!-- FAVICON -->

    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon/site.webmanifest">
    <link rel="mask-icon" href="../images/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">    
   
    <!-- OPEN GRAPH -->

    <meta property="og:title" content="JUPITECH" />
    <meta property="og:url" content="http://jupitech.com.ar/" />
    <meta property="og:image" content="http://jupitech.com.ar/images/og.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="358" /> 
   
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheet/main.css">


    <script src="../javascript/lib/jquery-3.6.4.min.js"></script>
    <script src="../javascript/lib/jquery.scrolled.js"></script>
    <script src="../javascript/lib/jquery.ba-throttle-debounce.min.js"></script>


    <title>Nosotros - JUPITECH</title>
</head>
<body>
    <header class="Header Header-scroll">
        <div class="content-container">
            <div class="Header-content">
                <a class="Header-logo" href="/"></a>

                <nav class="Menu-nav">
                    <ul class="Menu">
                        <li class="Menu-item"><a class="Menu-link" href="../index.html">Home</a></li>
                        <li class="Menu-item"><a class="Menu-link Selected" href="nosotros.html">Nosotros</a></li>
                        <li class="Menu-item"><a class="Menu-link" href="servicios.html">Servicios</a></li>
                    </ul>
                </nav>
                <div class="Sidebar">
                    <nav class="navbar navbar-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">HOMELAND</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                        <li class="nav-item">
                                            <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="nosotros.html">Nosotros</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="servicios.html">Servicios</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>    
            </div>
          
        </div>
    </header>









    <section>
        <div class="ViewFull Section"> 
            <div class="Article content-container">
                <div class="Article-body">
                    En Jupitech estamos apasionados por lo que hacemos! 
                    <br> 
                    Como una consultora full service, ofrecemos soluciones integrales para potenciar el éxito de tu empresa.

                </div>
                <div class="Article-pilares">
                    <div class="Article-pilar">
                        <div class="Article-pilar-title">Enfoque Integral para Resultados Escalables</div>
                        Adoptamos un enfoque multidisciplinario para garantizar resultados escalables para tu empresa. No se trata solo de trabajar en un servicio aislado, sino de emplear estrategias integrales que aborden todas las áreas necesarias para impulsar el crecimiento.
                    </div>
                    <div class="Article-pilar">
                        <div class="Article-pilar-title">Soporte Continuo y Asesoramiento Especializado</div>
                        Nos convertimos en parte de tu equipo, brindándote apoyo continuo, seguimiento y asesoramiento técnico especializado. Estamos comprometidos a ayudarte a alcanzar tus objetivos comerciales y a adaptarnos a tus necesidades específicas en cada etapa del proceso.
                    </div>
                    <div class="Article-pilar">
                        <div class="Article-pilar-title">Transformación Digital y Crecimiento Empresarial</div>
                        Como consultora empresarial full service, implementamos nuestra Metodología MD+ con un enfoque integral en transformación digital, marketing, gestión, branding y growth mindset. Esto nos permite ofrecerte estrategias rentables, campañas exitosas y contenido de alto impacto para impulsar el crecimiento de tu empresa, tanto a nivel local como global.                        
                    </div>
                </div>
                <div class="Article-users">

                    <div class="Article-user">
                        <img class="Article-user-image" src="../images/cami.jpg" alt="">
                        <div class="Article-user-info">
                            <h2 class="Article-user-name">Camila Matellán</h2>   
                            <div class="Article-user-cargo">Directora General de Jupitech</div>                     
                            <a class="Article-user-email" href="maito:camila@jupitech.com.ar">camila@jupitech.com.ar</a>                        
                        </div>
                    </div>             
                    <div class="Article-user">
                        <img class="Article-user-image" src="../images/nico.jpg" alt="">
                        <div class="Article-user-info">
                            <h2 class="Article-user-name">Nicolás Juárez</h2>   
                            <div class="Article-user-cargo">Director General de Jupitech</div>                     
                            <a class="Article-user-email" href="mailto:nicolas@jupitech.com.ar">nicolas@jupitech.com.ar</a>                        
                        </div>
                    </div>             
                </div>
            </div>
        </div>
    </section>

    <footer class="Footer">
        <!--        
        <ul class="Footer-menu">
            <li class="Footer-menu-item"><a class="Footer-menu-link" href="index.html">Home</a></li>
            <li class="Footer-menu-item"><a class="Footer-menu-link" href="servicios.html">Servicios</a></li>
            <li class="Footer-menu-item"><a class="Footer-menu-link" href="templates/nosotros.html">Nosotros</a></li>
        </ul>


        <div class="Social">
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube-play"aria-hidden="true"></i></a>
        </div>
-->        
        <div class="Footer-direction">
            <h2>Contacto</h2>
            <a href="mailto:info@jupitech.com.ar" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>info@jupitech.com.ar</a><br>
            <a href="tel:+5492225515676"><i class="fa fa-phone" aria-hidden="true"></i>2225-515676</a><br>
            <a href="tel:+5491165695100"><i class="fa fa-phone" aria-hidden="true"></i>11 6569 5100</a><br>
            <a class="Social-link" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>

    </footer>
</body>
</html>